<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Are you thirsty?</h1>
        <hr>
        <p>Share and discover which beer places are serving your favorite craft beers.</p>
    </div>
    
    <router-outlet></router-outlet>
</div>