.home-input {
	border-style: solid;
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.question {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.answer {
	background-color: transparent;
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}