<div class="col-md-4 col-md-offset-4">
  <h1>Your feedback is important!</h1>
  <hr>
  <form *ngIf="!success && subscriber" (submit)="saveFeedback()">
    <div *ngFor="let answer of subscriber.answers; let i = index" class="form-group">
      <label class="question">{{answer.question.description}}</label>
      <textarea class="form-control answer" [(ngModel)]="answer.description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-xl">Submit</button>
  </form>
  <h1 *ngIf="success">Thanks for you support!</h1>
</div>
