<div class="col-md-4 col-md-offset-4">
	<h1 id="homeHeading">Get updated!</h1>
	<hr>
	<form *ngIf="!success" (submit)="saveSubscription()">
		<div class="form-group">
			<input type="text" class="form-control home-input" name="name" placeholder="Your name" [(ngModel)]="name">
		</div>
		<div class="form-group">
			<input type="email" class="form-control home-input" name="email" placeholder="Your email address" [(ngModel)]="email">
		</div>
		<button type="submit" class="btn btn-primary btn-xl">Submit</button>
	</form>
	<h3 *ngIf="success">Thanks for subscribing!</h3>
</div>
